.navbar {
    min-height: 80px;
}

/* adjust margins for spacing between jumbotron and navbar */
.jumbotron {
    margin-top: 10%;
    margin-right: 10%;
}

/* further adjustments to jumbotron margins for when navbar collapses */
@media (max-width: 576px) {
    .jumbotron {
        margin-top: 20%;
        margin-right: auto;
    }
}

/* remove/adjust extra padding from bootstrap's default jumbotron padding values */
@media (min-width: 576px) {
    .jumbotron {
    padding: 5%;
}